.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}

/* Logo styling */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 100px;
}

h1 {
  margin-right: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #c0c0c0; /* light grey */
  color: black;
  padding: 6px;
  border: 1px solid #666;
  font-size: 14px;
  text-align: center;
}

td {
  background-color: #dbe5f1; /* light blue */
  border: 1px solid #999;
  padding: 4px;
}

input, select {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  font-size: 13px;
}
th div {
  line-height: 1.2;
}

body {
  font-size: 14pt; /* default is usually 12pt */
}

table, input, select, button {
  font-size: 14pt;
}
